export const secrets = {
  firebase: {
    'apiKey': 'DUMMY',
    'authDomain': 'DUMMY',
    'databaseURL': 'DUMMY',
    'projectId': 'DUMMY',
    'storageBucket': 'DUMMY',
    'messagingSenderId': 'DUMMY'
  }
};
